<div class="body-flex">
    <div class="left-panel-flex">
        <div class="left-panel-top-button">
            <button class="left-panel-button-actual">Shop Now</button>
            <p>Trusted partner since 1900</p>
        </div>
        <div class="radio-selections">
            <div>
                <input type="radio" class="radio" value="all">
                <label for="all">All</label>
            </div>

            <div>
                <input class="radio" type="radio" value="codes">
                <label>Codes</label>
            </div>
            <div>
                <input class="radio" type="radio" value="ship">
                <label>Free Shipping</label>
            </div>
            <div>
                <input class="radio" type="radio" value="trending">
                <label>Trending</label>
            </div>
            <div>
                <input class="radio" type="radio" value="exclusive">
                <label>Exclusive</label>
            </div>
            <div>
                <input class="radio" type="radio" value="sales">
                <label>Sales</label>
            </div>
            <div>
                <input class="radio" type="radio" value="grocery">
                <label>Grocery</label>
            </div>
            <div>
                <input class="radio" type="radio" value="free">
                <label>Free Offers</label>
            </div>
            <div>
                <input class="radio" type="radio" value="expire">
                <label>Expires Soon</label>
            </div>
        </div>
            <hr>
        <div class="cash-back">
            <p>Get paid to shop at Chewy</p>
            <i class="fas fa-user-friends"></i>
            <i class="fas fa-arrows-alt-h"></i>
            <i class="fas fa-home"></i>
        </div>
            <hr>
        <div class="star-body">
        </div>
            <hr>
        <div class="left-panel-p">
            <h6>Some text</h6>
            <p>Some more stuff about how awesome we are</p>
        </div>
        <div class="left-panel-p">
            <h6>Some text</h6>
            <p>Some more stuff about how awesome we are</p>
        </div>
        <div class="left-panel-p">
            <h6>Some text</h6>
            <p>Some more stuff about how awesome we are</p>
        </div>
        <div class="contact-coupon">
            <ul>
                <li>Phone</li>
                <li>Email</li>
                <li>Chat</li>
                <li>Shipping</li>
            </ul>

        </div>
    </div>
    <div class="right-panel-flex">
        <div class="info-bar-flex">
            <div>
                <h3>50 coupons</h3>
                <p>Last updated: 4 hrs ago</p>
            </div>
            <div>
                <select>Select Menu</select>
            </div>

        </div>
        <div class="coupon-flex">
            {% include card.html %}
        </div>
    </div>
</div>