<div class="body-flex">
	{% if page.url == "/" %}
	<span class="dailyDeals">Today's Daily Deals</span>
	<div class="card-small-flex-container">
		{% for item in site.data._json %}
		<a href="/merchants/{{item[0]}}.html">
		<div class="card-small-flex">
			<div class="retailerImage">
			<p>Retailer Logo</p>
		</div>
		</a>
		<div class="retailerDetail">
			<p id="card-title">{{item[0]}}</p>
			<p id="card-content">{{item[1][1][0]["cLabel"]}}</p>
		</div>
	</div>
		{% endfor %}
	</div>
{% endif %}
</div>
<div class="coupon-flex">
	{% if page.url == "/" %}
	{% endif %} {% include card.html %}
</div>
	

<script>
	// let myBtn = document.getElementById("scrollBtn");
	// window.onscroll = () => {
	// 	scrollFunction();
	// };

	// const scrollFunction = () => {
	// 	console.log(document.body.scrollTop);
	// 	console.log(document.documentElement.scrollTop);
	// 	if (
	// 		document.body.scrollTop > 100 ||
	// 		document.documentElement.scrollTop > 100
	// 	) {
	// 		myBtn.style.display = "block";
	// 	} else {
	// 		myBtn.style.display = "none";
	// 	}
	// };
	// const goToTop = () => {
	// 	document.body.scrollTop = 0;
	// 	document.documentElement.scrollTop = 0;
	// };
</script>
