<div class="body-flex">
	<span class="dailyDeals">Today's Daily Deals</span>
	<div class="card-small-flex-container">
		{% for item in site.data._json %}
		<a href="/merchants/{{item[0]}}.html">
		<div class="card-small-flex">
			<div class="retailerImage">
			<p>Retailer Logo</p>
		</div>
		</a>
		<div class="retailerDetail">
			<p id="card-title">{{item[0]}}</p>
			<p id="card-content">{{item[1][1][0]["cLabel"]}}</p>
		</div>
	</div>
		{% endfor %}
	</div>
</div>
<footer id="footer">
	<div class="footerLogo"><img src="/assets/images/logo.png"></img></div>
	<div class="footerLinks">
		<a href="#">Promo Codes</a>
		<a class="" href="#">Cash Back</a>
		<a class="" href="#">Gift Cards</a>
		<a class="" href="#">Coupons</a>
	</div>
	<div class="footerLegal footerLinks">
		<a class="" href="#">Privacy Policy</a>
		<a class="" href="#">Terms and Conditions</a>
	</div>
</footer>
<!-- <div class="right-panel-flex">
		<div class="info-bar-flex">
			<div class="info-bar-flex-sub1">
				<p>50 coupons</p>
				<p>Last updated: 4 hrs ago</p>
			</div>
			<div>
				<select class="info-bar-select">
					<option value="" disabled selected>Sort by: Popularity</option>
					<option value="0">Popularity</option>
					<option value="1">Savings</option>
					<option value="2">Expiring Soon</option>
				</select>
			</div>
		</div>
		<div class="coupon-flex">
			{% if page.url == "/" %}
			<h1>You are at the home page</h1>
			<h2>This is a proof of concept.</h2>
			<h3>
				To select more merchants, this must be done within the FMTC API
				dashboard.
			</h3>
			<div>
				<p>
					No coupons are displayed by default, you must select a merchant from
					the coupon link dropdown.
				</p>
			</div>
			{% endif %} {% include card.html %}
		</div>
		<div>
			<button class="coupon-end-button">See more expired offers</button>
		</div>
	</div>
</div>
<div class="triangle-container">
	<div class="triangle-separator"></div>
</div>
<div class="bottom-panel-flex">
	<div>
		<h2>Sign up to be the first to know about Chewy Coupons</h2>
	</div>
	<div class="bottom-panel-info-paragraph">
		<p>You'll receive our best online coupons, too.</p>
	</div>
	<div class="email-signup">
		<input
			class="bottom-panel-email-input"
			placeholder="Enter your email address"
			type="email"
		/>
		<button class="bottom-panel-email-signup-button">Sign Me Up</button>
	</div>
	<div>
		<p>
			Easily unsubscribe at any time. <a href="#">Review our privacy policy.</a>
		</p>
	</div>
	<div class="bottom-hr-sep-div">
		<hr class="bottom-hr-sep-hr" />
		<hr class="bottom-hr-sep-hr" />
	</div>
</div>
<div>
</div>
<div class="bottom-panel-links-container">
	<div class="bottom-panel-links">
		<div class="bottom-panel-links-sep">
			<h3>People who shop at Chewy also like</h3>
			<a href="#">Staples</a>
			<a href="#">Macy's</a>
			<a href="#">Papa Johns</a>
			<a href="#">Pizza Hut</a>
		</div>
		<div class="bottom-panel-links-sep">
			<h3>Coupons for trending stores</h3>
			<a href="#">Orbitz</a>
			<a href="#">DSW</a>
			<a href="#">Harbor Freight</a>
			<a href="#">Party city</a>
		</div>
		<div class="bottom-panel-links-sep">
			<h3>Coupon categories for Chewy</h3>
			<a href="#">Pets</a>
			<a href="#">Department Stores</a>
			<a href="#">Pet Food and Treats</a>
			<a href="#">Clearance</a>
		</div>
	</div>
</div>
<div class="twitter-bar-bg">
	<div class="twitter-bar">
		<p><i class="fab fa-twitter fa-2x"></i></p>
		<p><i class="fab fa-facebook-f fa-2x"></i></p>
		<p><i class="fab fa-instagram fa-2x"></i></p>
		<p><i class="fab fa-pinterest fa-2x"></i></p>
	</div>
</div>
<hr />
<div class="bottom-panel-links-container" style="background-color: whitesmoke">
	<div class="bottom-panel-links">
		<div class="bottom-panel-links-sep">
			<h4>Company</h4>
			<a href="#">About Us</a>
			<a href="#">Guarantee</a>
			<a href="#">Coupons for Troops</a>
			<a href="#">FAQ's</a>
			<a href="#">Contact Us</a>
		</div>
		<div class="bottom-panel-links-sep" style="align-self: flex-start">
			<h4>Holiday Savings</h4>
			<a href="#">Spring Wardrobe</a>
		</div>
		<div class="bottom-panel-links-sep">
			<h4>Save and Earn</h4>
			<a href="#">Promo Codes</a>
			<a href="#">Cash Back</a>
			<a href="#">Gift Cards</a>
			<a href="#">Coupons</a>
		</div>
		<div class="bottom-panel-links-sep">
			<h4>Savings Tools</h4>
			<a href="#">Browser Extension</a>
			<a href="#">Apps</a>
			<a href="#">Savings Blog</a>
			<a href="#">Coupon Cabin University</a>
			<a href="#">Coupon Caster</a>
		</div>
	</div> -->
<!-- <div class="bottom-footer">
	<a class="bottom-footer-logo" href="index.html"
		>COUPON<i class="fas fa-home"></i>CABIN</a
	>
	<p>
		©2003-2021 CouponCabin LLC. Use of this site is subject to the Terms &
		Conditions.
	</p>
</div> -->
<!-- <button onclick="goToTop()" id="scrollBtn" class="scroll-button">
	<i class="fas fa-arrow-up fa-3x"></i>
</button> -->

<script>
	let myBtn = document.getElementById("scrollBtn");
	window.onscroll = () => {
		scrollFunction();
	};

	const scrollFunction = () => {
		console.log(document.body.scrollTop);
		console.log(document.documentElement.scrollTop);
		if (
			document.body.scrollTop > 100 ||
			document.documentElement.scrollTop > 100
		) {
			myBtn.style.display = "block";
		} else {
			myBtn.style.display = "none";
		}
	};
	const goToTop = () => {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	};
</script>
