<div class="card-flex">
    <div class="card-flex-top">
        <p>SALE</p>
	    <p><i class="fas fa-heart"></i></p>
    </div>
    <div class="card-flex-mid">
        <div class="card-flex-mid-left">
            <div class="coupon-label">
                <div class="coupon-square">
                    <p>50%</p>
                    <p>OFF</p>
                </div>
                <div class="coupon-triangle">
                </div>
            </div>
            <div class="coupon-text">
                <h3>50% off</h3>
                <p>Purchases of 50% off or more</p>
            </div>
        </div>
        <div class="card-flex-mid-right">
            <span class="fa fa-star checked"></span>
            <span>Top Offer</span>
            <button class="card-flex-mid-button">Get Coupon</button>
            <p>This coupon works heres the proof</p>
        </div>
    </div>
    <div class="card-flex-bottom">
        <p>$29 avg saved</p>
        <p>101 used today</p>
        <p>Ends {{ site.time }}</p>
    </div>
</div>