{% for item in site.data.navigation.coupon %}
<div class="card-flex-background">
    <div class="card-flex-background-p">
        <p>Today's best offer</p>
        <p>{{ site.time }}</p>
    </div>
    <div class="card-flex">
        <div class="card-flex-top">
            <p>SALE</p>
	        <p><i class="fas fa-heart"></i></p>
        </div>
        <div class="card-flex-mid">
            <div class="card-flex-mid-left">
                <div class="coupon-label">
                    <div class="coupon-square">
                        <p>{{ item.amount }}</p>
                        <p>OFF</p>
                    </div>
                    <div class="coupon-triangle">
                    </div>
                </div>
                <div class="coupon-text">
                    <h2>{{ item.amount }} off</h2>
                    <p>Purchases of 50% off or more</p>
                </div>
            </div>
            <div class="card-flex-mid-right">
                <div>
                    <span class="fa fa-star checked"></span>
                    <span>TOP OFFER</span>
                </div>
                <button class="card-flex-mid-button">Get Coupon</button>
                <a href="#">This coupon works heres the proof</a>
            </div>
        </div>
        <hr id="card-flex-bottom-seperator">
        <div class="card-flex-bottom">
            <p>{{ item.saved }} avg saved</p>
            <p>{{ item.used }} used today</p>
            <p>Ends {{ site.time }}</p>
        </div>
    </div>
</div>
{% endfor %}
<script>
    window.onload = () => {
        setTopCard();
    }
    const setTopCard = () => {
        let cardCollection = document.getElementsByClassName("card-flex-background");
        cardCollection[0].className = "card-flex-background-apply";
        let cardBoxShadow = document.getElementsByClassName("card-flex");
        cardBoxShadow[0].style.boxShadow = "none";
        console.log(cardBoxShadow[0]);
    }
</script>