<!-- For desktop layout -->
<div class="flex-header">
    <div class="flex-chewy">
        <img src="./assets/images/chewy.png"/>
        <div class="heart">
            <i class="fas fa-heart"></i>
        </div>
    </div>
    <div class="flex-promo">
        <div>
            <h1>Chewy Promo Codes</h1>
        </div>
        <div class="flex-prices">
            <div class="constrain_prices">
                <p>$83 avg order</p>
                <p>$24 avg saved</p>
                <p>$15 shopping hacks</p>
            </div>
        </div>
        <div class="flex-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(578)</span>
        </div>
    </div>
</div>

