<nav id="hamnav">
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger"/>
  <div id="hamitems">
    <a id="logo" href="index.html">COUPON<i class="fas fa-home"></i>CABIN</a>
    <input id="ipt" class="showInput" type="text" placeholder="Coupon search"/>
    <a href="about.html">Promo<br>Codes</a>
    <a class="leftedge" href="tech.html">Cash<br>Back</a>
    <a class="leftedge" href="games.html">Gift<br>Cards</a>
    <div class="dropdown">
        <button class="dropbtn">Coupons</button>
        <div class="dropdown-content">
    {% for item in site.data.links.links %}
        <a href="{{ item.url }}">{{ item.name }}</a>
    <!-- <a href="#">Floaty</a>
    <a href="#">Stoplight</a> -->
    {% endfor %}
    <!-- <a href="#">Contacts</a>
    <a href="#">Floaty</a>
    <a href="#">Stoplight</a> -->
        </div>
    </div>
    <!-- <a class="leftedge" href="reviews.html">Store<br>Coupons</a> -->
    <a id="login" href="reviews.html">Login</a>
    <button id="signup" type="submit">Sign Up</button>
  </div>
</nav>
<script>
window.onload = () => {
    windowSize();
}
const watchWindow = (win) => {
    //if window less than or equal to 768px
    if (win.matches) {
        document.getElementById("ipt").style.display = "none";
        // document.getElementById("logo").style.display = "none";
        let logo = document.getElementById("hamnav");
        let div = document.createElement("DIV");
        div.className = "logoCenter";
        // let txt = document.createTextNode("Logo");
        div.innerHTML = '<a id="logo" href="index.html">COUPON<i class="fas fa-home"></i>CABIN</a>';
        // div.appendChild(txt)
        logo.append(div);

        // let mGlass = document.createElement("i");
        // mGlass.classList.add("fas");
        // mGlass.classList.add("fa-search");
        // let elem = document.getElementById("myTopnav");
        // elem.appendChild(mGlass);
        // document.body.style.backgroundColor = "yellow";
    } else {
        try{
            let inpt = document.getElementById("ipt");
            inpt.style.cssText = "";
            let logo = document.getElementById("logo");
            logo.style.cssText = "";
            let responsiveLogo = document.getElementsByClassName("logoCenter");
            responsiveLogo[0].remove();
        } catch {
            console.log('Removing logo failed')
        }
        
        // inpt.style = ""
        

        // let icon = document.getElementsByClassName("fas fa-search")
        // icon[0].remove()
        
        // document.body.style.backgroundColor = "pink";
    }
}
const windowSize = () => {
    let win = window.matchMedia("(max-width: 768px)");
    watchWindow(win)
    win.addListener(watchWindow);
}


</script>

  
<!-- <div class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon" onclick="myTopNav()"><i class="fa fa-bars"></i></a>
    <a href="#home" class="active" id="down">Logo</a>
    <input class="inpt" type="text" placeholder="Coupon Search">
    <a class="gradient" href="#news">Promo<br/>Codes</a>
    <a class="gradient" href="#contact">Cash<br/>Back</a>  
    <a class="gradient" href="#about">Gift<br/>Cards</a>
    <a class="gradient" href="#about">Coupons<br/>Cards</a>
    <a href="#about">Login</a>
    <a><button class="btn">Sign Up</button></a>
</div>  -->

<!-- <script> -->

<!-- //Function simply adds responsive to myTopnav id if 
// window.onload = () => {
//     windowSize();
// }
// const watchWindow = (win) => {
//     if (win.matches) {
//         let mGlass = document.createElement("i");
//         mGlass.classList.add("fas");
//         mGlass.classList.add("fa-search");
//         let elem = document.getElementById("myTopnav");
//         elem.appendChild(mGlass);
//         document.body.style.backgroundColor = "yellow";
//     } else {
//         let icon = document.getElementsByClassName("fas fa-search")
//         icon[0].remove()
        
//         document.body.style.backgroundColor = "pink";
//     }
// }
// const windowSize = () => {
//     let win = window.matchMedia("(max-width: 800px)");
//     watchWindow(win)
//     win.addListener(watchWindow);
// }


let myTopNav = () => {
    let x = document.getElementById("myTopnav");
    x.className == "topnav" ? x.className += " responsive" : x.className = "topnav"
    let y = document.getElementById("down");
    y.className == "active" ? y.className += " responsive" : y.className = "active"
} -->
<!-- </script> -->