
@use 'base';

.body-flex {
    display: flex;
    color: $leftPanelColor;
}

.logo-image {
    width: 20px;
    height: 10px;
}
.left-panel-flex{
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-left: 20px;
}
.left-panel-top-button {
    margin-top: 2em;
    display:flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
}
.left-panel-top-button p {
    font-size: 13px;
    margin: auto auto;
    color: gray;
    padding-top:5px;
}
.left-panel-button-actual {
    border-radius: 30px;
    background-color: #ff003b;
    margin: auto auto;
    border: 1px solid #ff003b;
    width: 75%;
    height: 3em;
    color: whitesmoke;
    font-size: 18px;
}
.radio-selections {
    margin: auto auto;
    margin-bottom: 1em;
}
hr {
    border-top: .5px solid $hrColor;
    width: 90%;
}
.cash-back p {
    text-align: center;
}
.cash-back {
    text-align:center;
}
.cash-back i {
    text-align:center;
    color: #266f95;
}
.star-body{
    margin-left: 40px;
    text-align:center;
}
.cash-back p a {
    color: #266f95
}
.left-panel-p {
    margin-left: 40px;
}
.contact-coupon {
    margin-left: 40px;
}
.contact-coupon p {
    text-align:center;
}
.contact-coupon div {
    display:flex;
    justify-content: space-between;
}

.right-panel-flex {
    width: 75%;
    margin-left: 1em;
}
.info-bar-flex{
    display: flex;
    justify-content: space-between;
    width: 91%;
}
.info-bar-flex-sub1 {
    display:flex;
    justify-content: space-between;
}
.info-bar-flex-sub1 p:nth-child(1){
    font-weight: bold;
}
.info-bar-flex-sub1 p:nth-child(2){
    margin-left: 1em;
}
.info-bar-flex div {
}
.info-bar-select {
    width: 10em;
    margin-right: 1em;
    height: 2em;
    border-radius: 30px;
    color: $leftPanelColor;
    margin-top: 1em;
}
.coupon-flex{
    display:flex;
    flex-direction: column;
}

//Media queries 800px or less
@media screen and (max-width: 900px){
    //Hide left panel
    .left-panel-flex{
        display: none;
    }
    //Make right panel and info bar width 100% now
    .right-panel-flex {
        width: 100%;
    }
}