@use 'base';

.body-flex {
	display: flex;
	color: $leftPanelColor;
	width: 90%;
	background-color: whitesmoke;
	flex-direction: column;
	margin: auto auto;
}

.card-small-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;
}
#footer {
	margin-top: 30px;
	height: 100px;
	background-color: #242f40;
	display: flex;
	width: 100vw;
	align-items: center;
	bottom: 0;
	position: fixed;
	font-family: "Roboto Condensed";
}
.footerLogo {
	margin-left: 50px;
}
.footerLinks {
	margin-left: 30px;
}
.footerLinks a {
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	// justify-content: center;
}

@media screen and (max-width: 1060px) {
	#footer {
		display: none;
	}
}
