@use 'base';
// Card Background will be applied by JS
// if it is index 0, first card in the stack.
.card-flex-background-container {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
}
.card-flex-background-apply {
	background-color: #36aa00;
	border-radius: 15px;
	padding-left: 8px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 7px;
	padding-right: 5px;
	margin-left: -5px;
}
.card-flex-background-p {
	display: flex;
	justify-content: space-between;
	margin-bottom: -1.1em;
	margin-top: -1.1em;
	color: whitesmoke;
	font-weight: bold;
}
.card-flex-background-p p:nth-child(2) {
	padding-right: 15px;
}
// Main Card
.card-flex {
	border: 2px solid black;
	display: flex;
	background-color: $bgColor2;
	color: #242f40;
	flex-direction: column;
	width: 99.2%;
	border-radius: 10px;
	margin-top: 1em;
}
// Top Row
.card-flex-top {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	color: #242f40;
}
// Mid Row
.card-flex-mid {
	display: flex;
	margin-top: -15px;
	justify-content: space-between;
}
.card-flex-mid-left {
	display: flex;
	margin-left: 2em;
}
.card-flex-mid-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Coupon logo text to right
.coupon-text {
	margin-left: 1em;
	margin-top: 1em;
}
.coupon-text h2 {
	color: #242f40;
}
//Coupon logo
.coupon-square {
	height: 80px;
	width: 80px;
	background-image: linear-gradient(to right, #1f5999, #269d8f);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: whitesmoke;
}
.coupon-square p:nth-child(1) {
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
}
.coupon-square p:nth-child(2) {
	text-align: center;
	margin-top: -30px;
}

// Button, Top Offer, Link, right mid card
.card-flex-mid-right div span {
	margin-bottom: 10px;
	font-size: 14px;
}
.card-flex-mid-right a {
	font-size: 10px;
	color: $leftPanelColor;
}

.card-flex-mid-button {
	border-radius: 30px;
	// background-color: #3297ad;
	background-color: #004f61;
	margin: auto auto;
	border: 1px solid #3297ad;
	width: 10em;
	height: 3em;
	color: $bgColor;
	font-size: 18px;
	cursor: pointer;
}
.card-flex-mid-right {
	margin-right: 2em;
	margin-top: 2em;
}

#card-flex-bottom-seperator {
	width: 99.5%;
}
// Bottom Row

.card-flex-bottom {
	margin-top: -1em;
	display: flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 15em;
}
