@use 'base';

.flex-header {
	display: flex;
	background-color: #ffffff;
	height: 300px;
	padding-left: 100px;
}
.flex-header-info {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-header-logo {
	background-color: #d8d8d8;
	width: 215px;
	height: 215px;
	display: flex;
	justify-content: center;
}
.flex-header-logo p {
	align-self: center;
}
.flex-header-info-details {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}
@media screen and (max-width: 1260px) {
	.constrain_prices {
	}
}
