@use 'base';

#hamnav {
	width: 100vw;
	// background-image: linear-gradient(to right, #1f5999, #269d8f);
	background-color: #242f40;
	/* Optional */
	position: sticky;
	top: 0;
	height: 96px;
	padding-top: 20px;
	z-index: 1;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}
.resizeLoginSignup {
	display: flex;
}
.searchForm {
	display: flex;
}
#searchform {
	margin-left: -120px;
	border-radius: 3px;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
	height: 3em;
}
#searchinput {
	border: 1px solid white;
	font-size: 18px;
	color: #636b77;
}
#searchbutton {
	border: 1px solid white;
	background-color: #218380;
	width: 50px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* Hide Hamburger */
#hamnav label,
#hamburger {
	display: none;
}

/* Horizontal Menu Items */
#hamitems {
	display: flex;
	align-items: center;
	margin-left: 50px;
	// padding-bottom: 20px;
}
#hamitems #iptLogo {
	margin-left: -51px;
	background-color: #218380;
	height: 3.2em;
	border: white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 50px;
}

#hamitems a {
	// width: 10%; /* 100% / 5 tabs = 20% */
	padding: 10px;
	color: white;
	text-decoration: none;

	// justify-content: center;
}
#hamitems #logo {
	white-space: nowrap;
}
#signup {
	font-size: 16px;
	margin-right: 10px;
}
#login {
	font-size: 16px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #269d8f;
	min-width: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #1f5999;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-wrap: wrap;
}

.dropdown:hover .dropbtn {
	background-color: #269d8f;
}
#mobileLogo {
	display: none;
}
@media screen and (max-width: 1060px) {
	/* Show Hamburger Icon */
	// #hamitems #logo {
	// 	position: absolute;
	// }
	#hamnav label {
		display: inline-block;
		color: white;
		font-style: normal;
		font-size: 1.2em;
		padding: 10px;
	}
	// #hamnav input:checked ~ #hamitems #logo {
	// 	display: none;
	// }

	/* Break down menu items into vertical */
	#hamitems a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		color: black;
	}

	#hamitems {
		display: none;
	}
	#hamnav input:checked ~ #hamitems {
		display: block;
		position: absolute;
		background-color: white;
		width: 100vw;
		height: 100vh;
		margin-left: 0;
		margin-top: 40px;
	}
	#hamnav input:checked ~ #hamitems #searchform {
		margin-top: 1em;
		margin-left: 25%;
		border: 1px solid black;
		width: 272px;
	}
	#hamnav input:checked ~ #hamitems .resizeLoginSignup {
		flex-direction: column;
		margin-top: 100px;
	}
	#hamnav input:checked ~ #hamitems .searchForm {
		background-color: white;
		margin-top: -20px;
		height: 100px;
		justify-content: center;
	}
	#mobileLogo {
		display: flex;
		justify-content: center;
	}
	#mobileLogo img {
		position: absolute;
	}
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

@media screen and (max-width: 2000px) {
	#hamitems #logo {
		margin-right: 6em;
		// margin-right: 4em;
		white-space: nowrap;
		font-size: 1.5em;
	}
	.logoCenter a {
		margin: auto auto;
		white-space: nowrap;
		color: whitesmoke;
	}
}
